{
  "extends": ["airbnb", "prettier"],

  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",

  "rules": {
    "no-restricted-syntax": 0,
    "no-param-reassign": 0,
    "comma-dangle": ["error", "always-multiline"],
    "radix": 0,
    "func-names": 0
  }
}
